{% extends 'base_template.html'%}

{%block menu_title %}Manage Discount{% endblock %}

{% block main_content%}
<!-- datatables manage discount -->
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped" id='discount_applied_datatable_id' width='100%'>
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Product Code</th>
                    <th scope="col">Description</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Discount Type</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Expired Type</th>
                    <th scope="col">Active Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
{% endblock %}

{%block popup_and_modal %}
<!-- Modal pop up for edit button inside datatable -->
<div class="modal fade" id="id_modal_for_edit" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Discount Applied</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id='formAddNewData'>
                    <div class="mb-3">
                        <label for="productIdUpdateFields" class="form-label">Product</label>
                        <select class="form-control" id="productIdUpdateFields" placeholder='Product Id' disabled>
                            <option value=0>No item to select</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="discountIdUpdateFields" class="form-label">Discount</label>
                        <select class="form-control" id="discountIdUpdateFields" placeholder='Discount Id' disabled>
                            <option value=0>No item to select</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="startDateUpdateFields" class="form-label">Start Date</label>
                        <input type="date" class="form-control" id="startDateUpdateFields" placeholder="Start Date">
                    </div>
                    <div class="mb-3">
                        <label for="expiredDateUpdateFields" class="form-label">Expired Date</label>
                        <input type="date" class="form-control" id="expiredDateUpdateFields" placeholder="Expired Date">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="activeStatusFields">
                        <label class="form-check-label" for="activeStatusFields">Active Status</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_save_updated_data_id">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modul pop up for delete inside datatable -->
<div class="modal fade" id="id_modal_for_delete" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Company</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 id="delete_confirm_massage_id">Are you sure to this delete data ?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="button_delete_data_id">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for button add new data  -->
<div class="modal fade" id="id_modal_for_add_new_data" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Applied Discount</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id='formAddNewData'>
                    <div class="mb-3">
                        <label for="productIdFields" class="form-label">Product</label>
                        <select class="form-control" id="productIdFields" placeholder='Product Id'>
                            <option value=0>No item to select</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="discountIdFields" class="form-label">Discount</label>
                        <select class="form-control" id="discountIdFields" placeholder='Discount Id'>
                            <option value=0>No item to select</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="startDateFields" class="form-label">Start Date</label>
                        <input type="date" class="form-control" id="startDateFields" placeholder="Start Date">
                    </div>
                    <div class="mb-3">
                        <label for="expiredDateFields" class="form-label">Expired Date</label>
                        <input type="date" class="form-control" id="expiredDateFields" placeholder="Expired Date">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="new_data_save_button_id">Save Data</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_script %}
<script src="/static/app_module/base_view.js"></script>
<script src="/static/app_module/manage_discount_view.js"></script>

{% endblock %}
