{% extends 'base_template.html'%}
{% block css_script %}
<link rel="stylesheet" href="/static/assets/select/selectize.bootstrap4.min.css">
{% endblock %}
{%block menu_title %}Product Sold{% endblock %}

{% block main_content%}
<!-- datatables product -->
<div class="card mr-4 ml-4 mb-3 bg-light">
    <div class="card-body">
        <div class="row ml-2 mb-3">
            <h3>Filter Transaction</h3>
        </div>
        <div class="row ">
            <div class="col-md-4">
                <div class="row mb-2">
                    <div class="col-sm-4"><label for="productFields" class="form-label">Product</label>
                    </div>
                    <div class="col">
                        <select class="form-control selectForm" id="productFields" placeholder="Product">
                            <option value=0>No item to select</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4"><label for="discountFields " class="form-label">Discount Applied</label>
                    </div>
                    <div class="col">
                        <select class="form-control selectForm" id="discountFields" placeholder="Discount Applied">
                            <option value=0>No item to select</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row mb-2">
                    <div class="col-sm-4"><label for="cashierFields" class="form-label">Cashier</label>
                    </div>
                    <div class="col">
                        <select class="form-control selectForm" id="cashierFields" placeholder="Cashier">
                            <option value=0>No item to select</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4"><label for="transactionDateFields" class="form-label">Transaction Date</label>
                    </div>
                    <div class="col"><input type="date" class="form-control" id="transactionDateFields"
                            placeholder="Transaction Date"></div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-8 ml-6 text-right">
                <button type="button" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4 ml-3 mr-3">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped" id='product_sold_transaction_datatable_id' width='100%'>
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Transaction Code</th>
                    <th scope="col">Transaction Date</th>
                    <th scope="col">Cashier</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Tax</th>
                    <th scope="col">Paid</th>
                    <th scope="col">Change</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
{% endblock %}

{%block popup_and_modal %}

{% endblock %}

{% block custom_script %}
<script src="/static/assets/select/selectize.min.js"></script>
<script src="/static/app_module/base_view.js"></script>
<script src="/static/app_module/product_sold_view.js"></script>
<script>
    // create select fields with search using selective library
    $( document ).ready( function () {
        $( '.selectForm' ).selectize( {
            sortField: 'text'
        } );
    } );
</script>
{% endblock %}
