{% extends 'base_template.html'%}

{%block menu_title %}Product Sold{% endblock %}

{% block main_content%}
<!-- datatables product -->
<div class="jumbotron">
    <div class="row">
        <div class="col">
            <h1>FIlter Form</h1>
        </div>
        <div class="col-sm-1">
            <h1>Button Pop Up</h1>
        </div>
    </div>

</div>
<div class="jumbotron">
    <h1>Datatable</h1>
</div>
{% endblock %}

{%block popup_and_modal %}

{% endblock %}

{% block custom_script %}

{% endblock %}
