{% extends 'base_template.html'%}

{% block css_script %}
<link rel="stylesheet" href="/static/assets/select/selectize.bootstrap4.min.css">
{% endblock %}

{%block menu_title %}Export Excel{% endblock %}
{% block main_content%}
<!-- Main Content -->
<div class="container-fluid">
    <div class="card mb-3">
        <div class="card-body">
            <div class="row mb-3">
                <h3>Filter</h3>
            </div>
            <div class="row ">
                <div class="col-md-7">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="yearField" class="form-label">Year</label>
                        </div>
                        <div class="col">
                            <select class="form-control" id="yearField" placeholder="Year" value="2022">
                                <option value="2022">2022</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4"><label for="monthField" class="form-label">Month</label>
                        </div>
                        <div class="col">
                            <select class="form-control" id="monthField" placeholder="Month" value="">
                                <option value="">---</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4"><label for="categoryProductField" class="form-label">Category
                                Product</label>
                        </div>
                        <div class="col">
                            <select class="form-control selectForm" id="categoryProductField"
                                placeholder="Category Product">
                                <option value="">No item to select</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="productField" class="form-label">Product</label>
                        </div>
                        <div class="col">
                            <select class="form-control selectForm" id="productField" placeholder="Product">
                                <option value="">No item to select</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="transactionTypeField" class="form-label">Transaction</label>
                        </div>
                        <div class="col">
                            <select class="form-control selectForm" id="transactionTypeField" placeholder="Transaction">
                                <option value="sold_product">Product Sold</option>
                                <option value="purchased_product">Product Purchased</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-7 ml-6 text-right">
                    <button type="button" class="btn btn-primary btn-export">Export</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_script %}
<script src="/static/assets/select/selectize.min.js"></script>
<script src="/static/app_libary/base64decoder.js"></script>
<script src="/static/app_module/report.js"></script>
{% endblock %}
