{% extends 'base_template.html'%}

{% block css_script %}
{% endblock %}

{%block menu_title %}Export Excel{% endblock %}
{% block main_content%}
<!-- Main Content -->
<div class="container-fluid">
    <div class="card mb-3">
        <div class="card-body">
            <div class="row mb-3">
                <h3>Filter</h3>
            </div>
            <div class="row ">
                <div class="col-md-7">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="productFields" class="form-label">Product</label>
                        </div>
                        <div class="col">
                            <select class="form-control selectForm" id="productFields" placeholder="Product">
                                <option value="">No item to select</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4"><label for="discountFields" class="form-label">Discount
                                Applied</label>
                        </div>
                        <div class="col">
                            <select class="form-control selectForm" id="discountFields" placeholder="Discount Applied">
                                <option value="">No item to select</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4"><label for="cashierFields" class="form-label">Cashier</label>
                        </div>
                        <div class="col">
                            <select class="form-control selectForm" id="cashierFields" placeholder="Cashier">
                                <option value="">No item to select</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <label for="transactionDateFields" class="form-label">Transaction Date</label>
                        </div>
                        <div class="col">
                            <input type="date" class="form-control" id="transactionDateFields"
                                placeholder="Transaction Date">
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-7 ml-6 text-right">
                    <button type="button" class="btn btn-primary btn-export">Export</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{%block popup_and_modal %}
{% endblock %}

{% block custom_script %}
{% endblock %}
