{% extends 'base_template.html'%}

{%block menu_title %}Category Product{% endblock %}

{% block main_content%}
<!-- datatables category product -->
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped" id='category_product_datatable_id' width='100%'>
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Category Code</th>
                    <th scope="col">Description</th>
                    <th scope="col">Active Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
{% endblock %}

{%block popup_and_modal %}
<!-- Modal pop up for edit button inside datatable -->
<div class="modal fade" id="id_modal_for_edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Category Product</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id='formAddNewData'>
                    <div class="mb-3">
                        <label for="idCategoryFields" class="form-label">Category Code</label>
                        <input type="text" class="form-control" id="idCategoryFields" placeholder="Category Code"
                            disabled>
                    </div>
                    <div class="mb-3">
                        <label for="categoryFieldsUpdate" class="form-label">Description</label>
                        <input type="text" class="form-control" id="categoryFieldsUpdate" placeholder="Category">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="activeStatusFields">
                        <label class="form-check-label" for="activeStatusFields">Active Status</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_save_updated_data">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modul pop up for delete inside datatable -->
<div class="modal fade" id="id_modal_for_delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Category Product</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 id="delete_confirm_massage_id">Apakah Anda yakin akan menghapus data ?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="button_delete_category">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for button add new data  -->
<div class="modal fade" id="id_modal_for_add_new_data" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Category Product</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id='formAddNewData'>
                    <div class="mb-3">
                        <label for="categoryFields" class="form-label">Category</label>
                        <input type="text" class="form-control" id="categoryFields" placeholder="Category">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="new_data_save_button_id">Save Data</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_script %}
<script src="/static/app_module/category_product_api.js">
</script>

{% endblock %}
