{% extends 'base_template.html'%}

{%block menu_title %}Discount{% endblock %}

{% block main_content%}
<!-- datatables company -->
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped" id='discount_datatable_id' width='100%'>
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Discount Code</th>
                    <th scope="col">Discount Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Nominal</th>
                    <th scope="col">Active Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
{% endblock %}

{%block popup_and_modal %}
<!-- Modal pop up for edit button inside datatable -->
<div class="modal fade" id="id_modal_for_edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Discount</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id='formAddNewData'>
                    <div class="mb-3">
                        <label for="idDiscountFields" class="form-label">Discount Code</label>
                        <input type="text" class="form-control" id="idDiscountFields" placeholder="Discount Code"
                            disabled>
                    </div>
                    <div class="mb-3">
                        <label for="discountFieldsUpdate" class="form-label">Description</label>
                        <input type="text" class="form-control" id="discountFieldsUpdate" placeholder="Discount">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="activeStatusFields">
                        <label class="form-check-label" for="activeStatusFields">Active Status</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_save_updated_data_id">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modul pop up for delete inside datatable -->
<div class="modal fade" id="id_modal_for_delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Company Product</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 id="delete_confirm_massage_id">Are you sure to this delete data ?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="button_delete_data_id">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for button add new data  -->
<div class="modal fade" id="id_modal_for_add_new_data" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Company</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id='formAddNewData'>
                    <div class="mb-3">
                        <label for="discountFields" class="form-label">Discount Name</label>
                        <input type="text" class="form-control" id="discountFields" placeholder="Discount Name">
                    </div>
                    <div class="form-group">
                        <label for="discountTypeFields">Discount Type</label>
                        <select class="form-control" id="discountTypeFields">
                            <option>1. Percent</option>
                            <option>2. Cut Off</option>
                            <option>3. Cash Back</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="discountNominalFields" class="form-label">Nominal</label>
                        <input type="number" class="form-control" id="discountNominalFields" placeholder="Nominal">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="new_data_save_button_id">Save Data</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_script %}
<script src="/static/app_module/base_view.js"></script>
<script src="/static/app_module/discount_view.js"></script>

{% endblock %}
