{% extends 'base_template.html'%}

{%block menu_title %}Employee{% endblock %}

{% block main_content%}
<!-- datatables employee -->
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped" id='employee_datatable_id' width='100%'>
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Sallary</th>
                    <th scope="col">Employee status</th>
                    <th scope="col">Start Working</th>
                    <th scope="col">End Working</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
{% endblock %}

{%block popup_and_modal %}
<!-- Modal pop up for edit button inside datatable -->
<div class="modal fade" id="id_modal_for_edit" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Employee</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id='formUpdateData'>
                    <div class="mb-3">
                        <label for="employeeIdFields" class="form-label">Employee ID</label>
                        <input type="text" class="form-control" id="employeeIdFields" placeholder="Employee ID"
                            disabled>
                    </div>
                    <div class="mb-3">
                        <label for="nameUpdateFields" class="form-label">Name</label>
                        <input type="text" class="form-control" id="nameUpdateFields" placeholder="Name">
                    </div>
                    <div class="mb-3">
                        <label for="positionUpdateFields" class="form-label">Position</label>
                        <input type="text" class="form-control" id="positionUpdateFields" placeholder="Position">
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumberUpdateFields" class="form-label">Phone Number</label>
                        <input type="number" class="form-control" id="phoneNumberUpdateFields"
                            placeholder="Phone Number">
                    </div>
                    <div class="mb-3">
                        <label for="emailUpdateFields" class="form-label">Email</label>
                        <input type="email" class="form-control" id="emailUpdateFields" placeholder="name@mail.com">
                    </div>
                    <div class="mb-3">
                        <label for="addressUpdateFields" class="form-label">Address</label>
                        <textarea class="form-control" id="addressUpdateFields" rows="2"
                            placeholder="Address"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="salaryUpdateFields" class="form-label">Salary</label>
                        <input type="number" class="form-control" id="salaryUpdateFields" placeholder="Salary">
                    </div>
                    <div class="mb-3">
                        <label for="employeStatusUpdateFields" class="form-label">Employee Status</label>
                        <select class="form-control" id="employeStatusUpdateFields" placeholder='Employee Status'>
                            <option value=0>No item to select</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="startWorkingUpdateFields" class="form-label">Start Working</label>
                        <input type="date" class="form-control" id="startWorkingUpdateFields"
                            placeholder="Start Working">
                    </div>
                    <div class="mb-3">
                        <label for="endWorkingFields" class="form-label">End Working</label>
                        <input type="date" class="form-control" id="endWorkingFields" placeholder="End Working">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_save_updated_data_id">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modul pop up for delete inside datatable -->
<div class="modal fade" id="id_modal_for_delete" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Employee</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 id="delete_confirm_massage_id">Are you sure to this delete data ?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="button_delete_data_id">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for button add new data  -->
<div class="modal fade" id="id_modal_for_add_new_data" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id='formAddNewData'>
                    <div class="mb-3">
                        <label for="nameFields" class="form-label">Name</label>
                        <input type="text" class="form-control" id="nameFields" placeholder="Name">
                    </div>
                    <div class="mb-3">
                        <label for="positionFields" class="form-label">Position</label>
                        <input type="text" class="form-control" id="positionFields" placeholder="Position">
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumberFields" class="form-label">Phone Number</label>
                        <input type="number" class="form-control" id="phoneNumberFields" placeholder="Phone Number">
                    </div>
                    <div class="mb-3">
                        <label for="emailFields" class="form-label">Email</label>
                        <input type="email" class="form-control" id="emailFields" placeholder="name@mail.com">
                    </div>
                    <div class="mb-3">
                        <label for="addressFields" class="form-label">Address</label>
                        <textarea class="form-control" id="addressFields" rows="2" placeholder="Address"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="salaryFields" class="form-label">Salary</label>
                        <input type="number" class="form-control" id="salaryFields" placeholder="Salary">
                    </div>
                    <div class="mb-3">
                        <label for="employeStatusFields" class="form-label">Employee Status</label>
                        <select class="form-control" id="employeStatusFields" placeholder='Employee Status'>
                            <option value=0>No item to select</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="startWorkingFields" class="form-label">Start Working</label>
                        <input type="date" class="form-control" id="startWorkingFields" placeholder="Start Working">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="new_data_save_button_id">Save Data</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_script %}
<script src="/static/app_module/base_view.js"></script>
<script src="/static/app_module/employee_view.js"></script>

{% endblock %}
