{% extends 'base_template.html'%}

{%block menu_title %}Product{% endblock %}

{% block main_content%}
<!-- datatables product -->
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped" id='product_datatable_id' width='100%'>
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Product Code</th>
                    <th scope="col">Description</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">Company</th>
                    <th scope="col">Active Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
{% endblock %}

{%block popup_and_modal %}
<!-- Modal pop up for edit button inside datatable -->
<div class="modal fade" id="id_modal_for_edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id='formAddNewData'>
                    <div class="mb-3">
                        <label for="productIdFields" class="form-label">Product Code</label>
                        <input type="text" class="form-control" id="productIdFields" placeholder="Product Code"
                            disabled>
                    </div>
                    <div class="mb-3">
                        <label for="productDescUpdateFields" class="form-label">Product</label>
                        <input type="text" class="form-control" id="productDescUpdateFields" placeholder="Product">
                    </div>
                    <div class="mb-3">
                        <label for="brandUpdateFields" class="form-label">Brand</label>
                        <input type="text" class="form-control" id="brandUpdateFields" placeholder="Brand">
                    </div>
                    <div class="mb-3">
                        <label for="priceUpdateFields" class="form-label">Price</label>
                        <input type="text" class="form-control" id="priceUpdateFields" placeholder="Price">
                    </div>
                    <div class="mb-3">
                        <label for="categoryUpdateFields" class="form-label">Category</label>
                        <select class="form-control" id="categoryUpdateFields" placeholder="Category">
                            <option value=0>No item to select</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="supplierUpdateFields" class="form-label">Supplier</label>
                        <select class="form-control" id="supplierUpdateFields" placeholder="Supplier">
                            <option value=0>No item to select</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="companyUpdateFields" class="form-label">Product Company</label>
                        <select class="form-control" id="companyUpdateFields" placeholder="Product Company">
                            <option value=0>No item to select</option>
                        </select>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="activeStatusFields">
                        <label class="form-check-label" for="activeStatusFields">Active Status</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_save_updated_data_id">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modul pop up for delete inside datatable -->
<div class="modal fade" id="id_modal_for_delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Company</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 id="delete_confirm_massage_id">Are you sure to this delete data ?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="button_delete_data_id">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for button add new data  -->
<div class="modal fade" id="id_modal_for_add_new_data" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id='formAddNewData'>
                    <div class="mb-3">
                        <label for="productDescFields" class="form-label">Product</label>
                        <input type="text" class="form-control" id="productDescFields" placeholder="Product">
                    </div>
                    <div class="mb-3">
                        <label for="brandFields" class="form-label">Brand</label>
                        <input type="text" class="form-control" id="brandFields" placeholder="Brand">
                    </div>
                    <div class="mb-3">
                        <label for="priceFields" class="form-label">Price</label>
                        <input type="text" class="form-control" id="priceFields" placeholder="Price">
                    </div>
                    <div class="mb-3">
                        <label for="categoryFields" class="form-label">Category</label>
                        <select class="form-control" id="categoryFields" placeholder="Category">
                            <option value=1>1. Cosmetic</option>
                            <option value=2>2. Food</option>
                            <option value=3>3. Drink</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="supplierFields" class="form-label">Supplier</label>
                        <select class="form-control" id="supplierFields" placeholder="Supplier">
                            <option value=1>1. Alfamart Agent</option>
                            <option value=2>2. Unilever Agent</option>
                            <option value=3>3. Tokped Agent</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="companyFields" class="form-label">Product Company</label>
                        <select class="form-control" id="companyFields" placeholder="Product Company">
                            <option value=1>1. Unilever</option>
                            <option value=2>2. Indofood</option>
                            <option value=3>3. Java</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="new_data_save_button_id">Save Data</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_script %}
<script src="/static/app_module/base_view.js"></script>
<script src="/static/app_module/product_view.js"></script>

{% endblock %}
